{
    "printWidth": 120,
    "tabWidth": 4,
    "parser": "typescript",
    "trailingComma": "all",
    "bracketSpacing": true,
    "endOfLine": "auto",
    "semi": true,
    "singleQuote": true,
    "requirePragma": false,
    "arrowParens": "avoid",
    "eslintIntegration": true,
    "jsxBracketSameLine": false,
    "proseWrap": "preserve",
    "overrides": [{
            "files": [".eslintrc", ".tslintrc", ".prettierrc", ".tern-project"],
            "options": {
                "trailingComma": "es5",
                "tabWidth": 4,
                "semi": true,
                "singleQuote": true
            }
        },
        {
            "files": "*.ts",
            "options": {
                "parser": "typescript"
            }
        }
    ]
}
